@charset "utf-8";

html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

header{
  background: pink;
  padding: 16px;
}

main{
  background: skyblue;
  padding: 16px;
}

nav{
  background: orange;
  padding: 16px;
}

aside{
  background: tomato;
  padding: 16px;
  display: none;
}

footer{
  background: silver;
  padding: 16px;
}


@media(min-width: 600px){
  .container{
    display: flex;
  }

  main{
    flex:1
  }

  nav{
    width: 160px;
    order:-1;
  }
}

@media(min-width: 800px){
  .container{
    display: flex;
  }

  main{
    flex:1
  }

  nav{
    width: 160px;
    order:-1;
  }

  aside{
    display: block;
    width: 160px;
  }
}